/touch_v2.X/build/
/touch_v2.X/dist/
/pic32_daq/remote_daq/firmware/remote_daq.X/build/
/pic32_daq/remote_daq/firmware/remote_daq.X/dist/
*.o
*.elf
*.map
*.d
*.bak
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/.mhc_backup
**/*.X/debug
**/*.X/dist
**/*.X/build
bin/framework/peripheral/**/*.a
doc/html/**/*
asset.cache
*.DS_Store
